@import "../../../colors";
.input-item {
  text-align: start;
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 10px auto;
  input {
    padding: 7px 5px;
    border: none;
    border-radius: 2px;
    outline: none;
    background-color: $primary-color;
  }
}
