@import "../../../colors";
.reset-pass {
  height: 400px;
  width: 50%;
  margin: 15rem auto;
  background-color: $secondary-color;
  border-radius: 5px;
  .input-item {
    height: 100%;
    display: block;
    position: relative;
    align-items: center;
    h1 {
      text-align: center;
      font-size: 2.5rem;
      padding: 2rem 0;
    }
    .alert,
    .label {
      width: 70%;
    }
    .alert {
      text-align: center;
    }
    .label {
      margin: 2.5rem auto 0 auto;
    }
    input {
      width: 70%;
      display: block;
      margin: 0 auto;
    }
    button {
      display: block;
      margin: 3rem auto;
    }
  }
  .success {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 0 1rem;
    i {
      padding: 2rem 0;
      color: $light-green-color;
    }
  }
}
@media (max-width: 1320px) {
  .reset-pass {
    .input-item {
      .alert {
        top: 10px;
        width: 90%;
      }
      .label {
        margin: 2rem auto 0 auto;
      }
      h1 {
        font-size: 2rem;
        padding: 4rem 0 0 0;
      }
    }
  }
}
@media (max-width: 900px) {
  .reset-pass {
    width: 90%;
    .input-item {
      input,
      .label {
        width: 85%;
      }
      h1 {
        font-size: 1.5rem;
      }
    }
  }
}
@media (max-width: 600px) {
  .reset-pass {
    .input-item {
      input,
      .label {
        width: 100%;
      }
      h1 {
        font-size: 1.5rem;
      }
    }
  }
}
