@import "colors";
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@100;200;300;400;500;600;700&display=swap");

$transition: all 0.2s ease;
$shadow: 1px 1px 5px #555, -1px -1px 5px #555;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: IBM Plex Sans Arabic;
  font-weight: 200;
  color: $font-color;
}
body {
  background-color: $primary-color;
}
.page-container {
  min-height: 100vh;
  padding: 0 0 5rem 0;
}
.App {
  position: relative;
  text-align: center;
}
.alert {
  position: absolute;
  top: 90px;
  left: 10px;
  right: 10px;
  border-radius: 3px;
  background-color: $red-alert-color;
  padding: 10px;
  margin: 5px auto;
}
.btn {
  background-color: $primary-color;
  padding: 5px 25px;
  font-size: 1.1rem;
  margin: 1rem 0 0 0;
  border-radius: 3px;
  cursor: pointer;
  border: none;
  transition: $transition;
  &:hover {
    outline: none;
    background-color: darken($color: $primary-color, $amount: 5);
    color: #111;
  }
}
.overlay {
  background-color: #000;
  // opacity: 0.8;
  z-index: 3;
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  animation-name: ol;
  opacity: 0.8;
  animation-duration: 0.3s;
}
@keyframes ol {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.8;
  }
}
.popup {
  height: 40%;
  width: 30%;
  position: fixed;
  top: 150px;
  left: 50%;
  margin-left: -15%;
  z-index: 4;
}
