@import "../../../colors";
@import "../../../App";
.account-page {
  height: 600px;
  width: 50%;
  margin: 5rem auto;
  background-color: $secondary-color;
  .input-con {
    & > h1 {
      width: 50%;
      margin: 0 0 5rem 0;
      border-bottom: 3px solid $primary-color;
    }
    button {
      margin: 10px 5px;
    }
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h4 {
      padding: 1rem 0 0 0;
      color: darken($color: $secondary-color, $amount: 20);
      &:hover {
        color: lighten($color: $primary-color, $amount: 20);
        transform: scale(1.2);
      }
      transition: $transition;
      cursor: pointer;
      font-weight: 400;
    }
    .input-item {
      h1 {
        border-bottom: solid 2px $primary-color;
      }
      input,
      h1,
      .label {
        width: 70%;
        margin: 0 auto;
      }
    }
  }
}
